.vs/
Win-Debloater/x32/
Win-Debloater/x64/
x32/
x64/
Win-Debloater/Win-Debloater.vcxproj
Win-Debloater/Win-Debloater.vcxproj.filters
Win-Debloater/Win-Debloater.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
